Repository icssc/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @icssc/antalmanac, @icssc/peterportal, @icssc/api, @icssc/zotistics, @icssc/zotmeal, @icssc/zotmeet, @icssc/zotnfound, @icssc/special-projects, @alexanderl19, @ecxyzzy, @MinhxNguyen7

.github/CODEOWNERS:

content/docs/contributor/antalmanac @icssc/antalmanac

content/docs/contributor/peterportal @icssc/peterportal

content/docs/contributor/anteaterapi @icssc/api
content/docs/contributor/developer @icssc/api

content/docs/contributor/zotistics @icssc/zotistics

content/docs/contributor/zotmeal @icssc/zotmeal

content/docs/contributor/zotmeet @icssc/zotmeet

content/docs/contributor/zotnfound @icssc/zotnfound

content/docs/contributor/developer/centralized-calendar @icssc/special-projects

content/docs/brand @alexanderl19 @ecxyzzy @MinhxNguyen7

docs: 📚️ [api] clarify anteater offers both rest and gql
  content/docs/developer/anteaterapi/index.mdx
Owners: none

docs: 📚️ [api] move attribution to about section
  content/docs/about/anteaterapi/attribution-policy.mdx
  content/docs/about/anteaterapi/index.md
  content/docs/developer/anteaterapi/index.mdx
  content/docs/developer/anteaterapi/meta.json
  content/docs/developer/anteaterapi/migrating.mdx
Owners: none

docs: 📚️ [api] link dev docs to about
  content/docs/developer/anteaterapi/index.mdx
Owners: none

docs: 📚️ [api] clarify what gql is, whitespace
  content/docs/developer/anteaterapi/index.mdx
Owners: none

docs: 📚️ [api] example of REST resource, whitespace
  content/docs/developer/anteaterapi/index.mdx
Owners: none

docs: 📚️ [api] new getting started page, move some content onto it
  content/docs/developer/anteaterapi/getting-started.md
  content/docs/developer/anteaterapi/index.mdx
  content/docs/developer/anteaterapi/meta.json
Owners: none

docs: 📚️ [api] finish dev getting started
  content/docs/developer/anteaterapi/getting-started.md
Owners: none

docs: 📚️ [api] best practices -> "keys and limits"
  content/docs/developer/anteaterapi/getting-started.md
  content/docs/developer/anteaterapi/keys-limits.mdx
  content/docs/developer/anteaterapi/meta.json
  content/docs/developer/anteaterapi/migrating.mdx
Owners: none

docs: 📚️ [api] keys page whitespace
  content/docs/developer/anteaterapi/keys-limits.mdx
Owners: none

docs: 📚️ [api] grammar
  content/docs/developer/anteaterapi/keys-limits.mdx
Owners: none

docs: 📚️ [api] per-key ratelimit clarification
  content/docs/developer/anteaterapi/keys-limits.mdx
Owners: none

docs: 📚️ [api] how to use api keys
  content/docs/developer/anteaterapi/keys-limits.mdx
Owners: none

docs: 📚️ [api] clarify requests is a python lib
  content/docs/developer/anteaterapi/keys-limits.mdx
Owners: none

docs: 📚️ [api] clarify in snippets any endpoint is ok
  content/docs/developer/anteaterapi/keys-limits.mdx
Owners: none

docs: 📚️ [api] as of node 18 importing fetch is unnecessary everywhere
  content/docs/developer/anteaterapi/keys-limits.mdx
Owners: none

docs: 📚️ [api] attribution policy back in dev docs sidebar
  content/docs/developer/anteaterapi/meta.json
Owners: none

docs: 📚️ [api] state graphql url
  content/docs/developer/anteaterapi/graphql-api/index.mdx
Owners: none

docs: 📚️ [api] tighter language
  content/docs/about/anteaterapi/index.md
Owners: none

docs: 📚️ [api] link to gh when we say FOSS
  content/docs/about/anteaterapi/index.md
Owners: none

docs: 📚️ update commands to pnpm for peterportal (#32)
  content/docs/contributor/peterportal/getting-started.mdx
Owners: @icssc/peterportal

fix: 🐛 await params nextjs
  app/docs/[[...slug]]/page.tsx
  app/docs/layout.tsx
  next-env.d.ts
Owners: none

fix: 🐛 update opennext and revert back to nextjs 14
  .dev.vars
  .gitignore
  next-env.d.ts
  open-next.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  wrangler.toml
Owners: none

docs: 📚️ [api] shorten contrib setup title
  content/docs/contributor/anteaterapi/setup.mdx
Owners: @icssc/api

docs: 📚️ [api] use <Step> for contrib setup steps
  content/docs/contributor/anteaterapi/setup.mdx
Owners: @icssc/api

docs: 📚️ [api] wording tweak
  content/docs/developer/anteaterapi/getting-started.md
Owners: none

docs: 📚️ [api] page descriptions
  content/docs/about/anteaterapi/index.md
  content/docs/developer/anteaterapi/getting-started.md
  content/docs/developer/anteaterapi/keys-limits.mdx
Owners: none

docs: 📚️ [api] move attribution to developer category
  content/docs/about/anteaterapi/index.md
  content/docs/developer/anteaterapi/attribution-policy.mdx
  content/docs/developer/anteaterapi/getting-started.md
  content/docs/developer/anteaterapi/index.mdx
  content/docs/developer/anteaterapi/meta.json
  content/docs/developer/anteaterapi/migrating.mdx
Owners: none

docs: 📚️ [api] title case in title
  content/docs/contributor/anteaterapi/setup.mdx
Owners: @icssc/api

docs: 📚️ [api] description tweak
  content/docs/contributor/anteaterapi/setup.mdx
Owners: @icssc/api

Reorganize Anteater API docs (#33)
  content/docs/about/anteaterapi.mdx
  content/docs/about/anteaterapi/index.md
  content/docs/contributor/anteaterapi/index.md
  content/docs/contributor/anteaterapi/setup.mdx
  content/docs/developer/anteaterapi/getting-started.md
  content/docs/developer/anteaterapi/graphql-api/index.mdx
  content/docs/developer/anteaterapi/index.mdx
  content/docs/developer/anteaterapi/keys-limits.mdx
  content/docs/developer/anteaterapi/meta.json
  content/docs/developer/anteaterapi/migrating.mdx
Owners: @icssc/api

chore: 🔧 update deps
  package.json
  pnpm-lock.yaml
Owners: none

docs: 📚️ unified auth overview initial draft
  content/docs/contributor/meta.json
  content/docs/contributor/unified-auth/inclusion-exclusion/index.mdx
  content/docs/contributor/unified-auth/inclusion-exclusion/meta.json
  content/docs/contributor/unified-auth/index.mdx
  content/docs/contributor/unified-auth/meta.json
Owners: none

docs: 📚️Zotmeal contributor docs in progress
  content/docs/contributor/zotmeal/getting-started.md
  content/docs/contributor/zotmeal/index.md
  content/docs/contributor/zotmeal/zotmeal-screenshot.jpg
Owners: @icssc/zotmeal

docs: 📚️ 📝 Add frontend, backend, update getting-started
  content/docs/contributor/zotmeal/component-images/contributor.png
  content/docs/contributor/zotmeal/component-images/event-card-skeleton.png
  content/docs/contributor/zotmeal/component-images/event-card.png
  content/docs/contributor/zotmeal/component-images/event-dialog.png
  content/docs/contributor/zotmeal/component-images/food-card-skeleton.png
  content/docs/contributor/zotmeal/component-images/food-card.png
  content/docs/contributor/zotmeal/component-images/food-dialog.png
  content/docs/contributor/zotmeal/frontend.mdx
  content/docs/contributor/zotmeal/getting-started.md
  content/docs/contributor/zotmeal/getting-started.mdx
  content/docs/contributor/zotmeal/meta.json
  content/docs/contributor/zotmeal/serverless.mdx
  content/docs/contributor/zotmeal/trpc.mdx
Owners: @icssc/zotmeal

docs: 📚️ add Files components to replace old file sections
  content/docs/contributor/zotmeal/frontend.mdx
  content/docs/contributor/zotmeal/getting-started.mdx
Owners: @icssc/zotmeal

docs: 📚️ remove expo troubleshooting
  content/docs/contributor/zotmeal/getting-started.mdx
Owners: @icssc/zotmeal

docs: 📚️ replace file code blocks with fumadocs Files
  content/docs/contributor/zotmeal/trpc.mdx
Owners: @icssc/zotmeal

docs: 📚️ replace file code blocks in serverless with fumadocs Files
  content/docs/contributor/zotmeal/serverless.mdx
Owners: @icssc/zotmeal

docs: 📚️ remove table of contents
  content/docs/contributor/zotmeal/frontend.mdx
Owners: @icssc/zotmeal

docs: 📚️ reorg pages into ui/api, reorg components into own page
  content/docs/contributor/zotmeal/api/index.mdx
  content/docs/contributor/zotmeal/api/meta.json
  content/docs/contributor/zotmeal/api/serverless.mdx
  content/docs/contributor/zotmeal/api/trpc.mdx
  content/docs/contributor/zotmeal/frontend.mdx
  content/docs/contributor/zotmeal/getting-started.mdx
  content/docs/contributor/zotmeal/index.md
  content/docs/contributor/zotmeal/meta.json
  content/docs/contributor/zotmeal/ui/component-images/contributor.png
  content/docs/contributor/zotmeal/ui/component-images/event-card-skeleton.png
  content/docs/contributor/zotmeal/ui/component-images/event-card.png
  content/docs/contributor/zotmeal/ui/component-images/event-dialog.png
  content/docs/contributor/zotmeal/ui/component-images/food-card-skeleton.png
  content/docs/contributor/zotmeal/ui/component-images/food-card.png
  content/docs/contributor/zotmeal/ui/component-images/food-dialog.png
  content/docs/contributor/zotmeal/ui/contributor.mdx
  content/docs/contributor/zotmeal/ui/event-card-skeleton.mdx
  content/docs/contributor/zotmeal/ui/event-card.mdx
  content/docs/contributor/zotmeal/ui/event-dialog.mdx
  content/docs/contributor/zotmeal/ui/food-card-skeleton.mdx
  content/docs/contributor/zotmeal/ui/food-card.mdx
  content/docs/contributor/zotmeal/ui/food-dialog.mdx
  content/docs/contributor/zotmeal/ui/index.mdx
  content/docs/contributor/zotmeal/ui/meta.json
  content/docs/contributor/zotmeal/ui/pin-button.mdx
  content/docs/contributor/zotmeal/ui/rating-button.mdx
Owners: @icssc/zotmeal
