Repository icssc/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @icssc/antalmanac, @icssc/peterportal, @icssc/api, @icssc/zotistics, @icssc/zotmeal, @icssc/zotmeet, @icssc/zotnfound, @icssc/special-projects, @alexanderl19, @ecxyzzy, @MinhxNguyen7

feat: api docs (#22)
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  app/docs/[[...slug]]/page.tsx
  app/layout.tsx
  content/docs/developer/anteaterapi/attribution-policy.mdx
  content/docs/developer/anteaterapi/best-practices.mdx
  content/docs/developer/anteaterapi/index.mdx
  content/docs/developer/anteaterapi/meta.json
  content/docs/developer/anteaterapi/rest-api/guides/typescript-integration.md
  content/docs/developer/anteaterapi/rest-api/guides/typescript-integration.mdx
  content/docs/developer/anteaterapi/rest-api/meta.json
  package.json
  pnpm-lock.yaml
  source.config.ts
Owners: none

chore: 🔧 slight phrasing
  content/docs/developer/anteaterapi/index.mdx
Owners: none

docs: 📚️ more best practices, remove no longer applicable rest api details
  content/docs/developer/anteaterapi/best-practices.mdx
  content/docs/developer/anteaterapi/rest-api/index.mdx
Owners: none

chore: 🔧 nuke old api contrib b/c they suck
  content/docs/contributor/anteaterapi/application-architecture/index.md
  content/docs/contributor/anteaterapi/application-architecture/meta.json
  content/docs/contributor/anteaterapi/application-architecture/tools.md
  content/docs/contributor/anteaterapi/getting-started-contributor.md
Owners: @icssc/api

feat: ✨ attribution page in about namespace
  app/(home)/page.tsx
  app/docs/layout.tsx
  content/docs/about/anteaterapi.mdx
  content/docs/about/index.md
  content/docs/about/meta.json
  content/docs/developer/anteaterapi/attribution-policy.mdx
  lib/categories.tsx
Owners: none

feat: ✨ attribution page in about namespace (#23)
  app/(home)/page.tsx
  app/docs/layout.tsx
  content/docs/about/anteaterapi.mdx
  content/docs/about/index.md
  content/docs/about/meta.json
  content/docs/developer/anteaterapi/attribution-policy.mdx
  lib/categories.tsx
Owners: none

docs: 📚️ code quality and toolchain
  content/docs/contributor/common/code-quality/index.mdx
  content/docs/contributor/common/code-quality/meta.json
  content/docs/contributor/common/code-quality/toolchain.md
  content/docs/contributor/common/meta.json
  content/docs/contributor/meta.json
Owners: none

docs: update wording
  content/docs/contributor/common/code-quality/index.mdx
Owners: none

feat: ✨ add page descriptions to og image
  app/docs-og/[...slug]/route.tsx
Owners: none

docs: 📚️ contributor placeholder page
  content/docs/contributor/index.md
  content/docs/contributor/index.mdx
Owners: none

docs: 📚️ contributor placeholder page (#27)
  content/docs/contributor/index.md
  content/docs/contributor/index.mdx
Owners: none

Add Page Descriptions to OG Image (#25)
  app/docs-og/[...slug]/route.tsx
Owners: none

Apply suggestions from code review
  content/docs/contributor/common/code-quality/index.mdx
Owners: none

Code Quality and Toolchain Documentation (#24)
  content/docs/contributor/common/code-quality/index.mdx
  content/docs/contributor/common/code-quality/meta.json
  content/docs/contributor/common/code-quality/toolchain.md
  content/docs/contributor/common/meta.json
  content/docs/contributor/meta.json
Owners: none

fix: 🐛 contributor links
  content/docs/contributor/anteaterapi/index.md
  content/docs/contributor/index.mdx
Owners: @icssc/api

fix: 🐛 contributor links (#29)
  content/docs/contributor/anteaterapi/index.md
  content/docs/contributor/index.mdx
Owners: @icssc/api

feat: ✨ migration guide from PPAPI
  content/docs/developer/anteaterapi/meta.json
  content/docs/developer/anteaterapi/migrating.mdx
Owners: none

fix: 🐛 incorporate suggestions
  content/docs/developer/anteaterapi/migrating.mdx
Owners: none

fix: 🐛 more stuff
  content/docs/developer/anteaterapi/migrating.mdx
Owners: none

fix: 🐛 less verbose
  content/docs/developer/anteaterapi/migrating.mdx
Owners: none

fix: 🐛 clarify
  content/docs/developer/anteaterapi/migrating.mdx
Owners: none

docs: 📚️ attrition to turnover wording
  content/docs/contributor/common/code-quality/index.mdx
Owners: none

chore: 🔧 move migrating to bottom of category
  content/docs/developer/anteaterapi/meta.json
Owners: none

Change Attrition Wording to Turnover (#31)
  content/docs/contributor/common/code-quality/index.mdx
Owners: none

feat: ✨ migration guide from PPAPI (#30)
  content/docs/developer/anteaterapi/meta.json
  content/docs/developer/anteaterapi/migrating.mdx
Owners: none

docs: 📚️ update commands to pnpm for peterportal
  content/docs/contributor/peterportal/getting-started.mdx
Owners: @icssc/peterportal

docs: 📚️ [api] api is maintained by a specifc arm of ICSSC
  content/docs/about/anteaterapi.mdx
Owners: none

docs: 📚️ [api] redo "what is ICSSC"
  content/docs/about/anteaterapi.mdx
Owners: none

docs: 📚️ [api] link attribution from about
  content/docs/about/anteaterapi.mdx
Owners: none

docs: 📚️ [api] tighten language about research data
  content/docs/about/anteaterapi.mdx
Owners: none

docs: 📚️ [api] reorder contrib landing, language tweak
  content/docs/contributor/anteaterapi/index.md
Owners: @icssc/api

docs: 📚️ [api] mention docker compose is not strictly needed
  content/docs/contributor/anteaterapi/setup.mdx
Owners: @icssc/api

docs: 📚️ [api] historical data info out of accordions, reword
  content/docs/about/anteaterapi.mdx
Owners: none

docs: 📚️ [api] reword inviting non-projects people
  content/docs/about/anteaterapi.mdx
Owners: none

docs: 📚️ [api] link to contributor docs
  content/docs/about/anteaterapi.mdx
  content/docs/contributor/anteaterapi/index.md
Owners: @icssc/api

docs: 📚️ [api] import anteater-api/CONTRIBUTING.md
  content/docs/contributor/anteaterapi/index.md
  content/docs/contributor/anteaterapi/setup.mdx
Owners: @icssc/api

docs: 📚️ [api] contrib guide clarity
  content/docs/contributor/anteaterapi/setup.mdx
Owners: @icssc/api

docs: 📚️ [api] about api at index.md
  content/docs/about/anteaterapi/index.md
Owners: none

docs: 📚️ [api] fix 404 on dev landing
  content/docs/developer/anteaterapi/index.mdx
Owners: none

docs: 📚️ [api] add one linebreak
  content/docs/developer/anteaterapi/index.mdx
Owners: none

.github/CODEOWNERS:

content/docs/contributor/antalmanac @icssc/antalmanac

content/docs/contributor/peterportal @icssc/peterportal

content/docs/contributor/anteaterapi @icssc/api
content/docs/contributor/developer @icssc/api

content/docs/contributor/zotistics @icssc/zotistics

content/docs/contributor/zotmeal @icssc/zotmeal

content/docs/contributor/zotmeet @icssc/zotmeet

content/docs/contributor/zotnfound @icssc/zotnfound

content/docs/contributor/developer/centralized-calendar @icssc/special-projects

content/docs/brand @alexanderl19 @ecxyzzy @MinhxNguyen7
