Repository icssc/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @icssc/antalmanac, @icssc/peterportal, @icssc/api, @icssc/zotistics, @icssc/zotmeal, @icssc/zotmeet, @icssc/zotnfound, @icssc/special-projects, @alexanderl19, @ecxyzzy, @MinhxNguyen7

.github/CODEOWNERS:

content/docs/contributor/antalmanac @icssc/antalmanac

content/docs/contributor/peterportal @icssc/peterportal

content/docs/contributor/anteaterapi @icssc/api
content/docs/contributor/developer @icssc/api

content/docs/contributor/zotistics @icssc/zotistics

content/docs/contributor/zotmeal @icssc/zotmeal

content/docs/contributor/zotmeet @icssc/zotmeet

content/docs/contributor/zotnfound @icssc/zotnfound

content/docs/contributor/developer/centralized-calendar @icssc/special-projects

content/docs/brand @alexanderl19 @ecxyzzy @MinhxNguyen7

feat: ✨ getting started JS/TS
  content/docs/contributor/common/code-quality.mdx
  content/docs/contributor/common/code-quality/meta.json
  content/docs/contributor/common/getting-started/introduction.mdx
  content/docs/contributor/common/getting-started/javascript-and-typescript.mdx
  content/docs/contributor/common/getting-started/meta.json
  content/docs/contributor/common/meta.json
  content/docs/contributor/common/toolchain.md
  content/docs/contributor/index.mdx
Owners: none

chore: 🔧 address nits
  content/docs/contributor/common/getting-started/javascript-and-typescript.mdx
Owners: none

feat: ✨ getting started JS/TS (#41)
  content/docs/contributor/common/code-quality.mdx
  content/docs/contributor/common/code-quality/meta.json
  content/docs/contributor/common/getting-started/introduction.mdx
  content/docs/contributor/common/getting-started/javascript-and-typescript.mdx
  content/docs/contributor/common/getting-started/meta.json
  content/docs/contributor/common/meta.json
  content/docs/contributor/common/toolchain.md
  content/docs/contributor/index.mdx
Owners: none

docs: 📚️ update peterportal frontend to nextjs
  content/docs/contributor/peterportal/getting-started.mdx
Owners: @icssc/peterportal

docs: 📚️ anteater api key for peterportal
  content/docs/contributor/peterportal/getting-started.mdx
Owners: @icssc/peterportal

docs: 📚️ clarify purpose of anteater api key
  content/docs/contributor/peterportal/getting-started.mdx
Owners: @icssc/peterportal

removed docs for ui components
  content/docs/contributor/zotmeal/ui.mdx
  content/docs/contributor/zotmeal/ui/component-images/contributor.png
  content/docs/contributor/zotmeal/ui/component-images/event-card-skeleton.png
  content/docs/contributor/zotmeal/ui/component-images/event-card.png
  content/docs/contributor/zotmeal/ui/component-images/event-dialog.png
  content/docs/contributor/zotmeal/ui/component-images/food-card-skeleton.png
  content/docs/contributor/zotmeal/ui/component-images/food-card.png
  content/docs/contributor/zotmeal/ui/component-images/food-dialog.png
  content/docs/contributor/zotmeal/ui/contributor.mdx
  content/docs/contributor/zotmeal/ui/event-card-skeleton.mdx
  content/docs/contributor/zotmeal/ui/event-card.mdx
  content/docs/contributor/zotmeal/ui/event-dialog.mdx
  content/docs/contributor/zotmeal/ui/food-card-skeleton.mdx
  content/docs/contributor/zotmeal/ui/food-card.mdx
  content/docs/contributor/zotmeal/ui/food-dialog.mdx
  content/docs/contributor/zotmeal/ui/meta.json
  content/docs/contributor/zotmeal/ui/pin-button.mdx
  content/docs/contributor/zotmeal/ui/rating-button.mdx
Owners: @icssc/zotmeal

trpc and lambda description
  content/docs/contributor/zotmeal/api/serverless.mdx
  content/docs/contributor/zotmeal/api/trpc.mdx
Owners: @icssc/zotmeal

updated getting started
  content/docs/contributor/zotmeal/getting-started.mdx
  content/docs/contributor/zotmeal/index.md
Owners: @icssc/zotmeal

📝 Zotmeal Docs v1.0 (#40)
  content/docs/contributor/zotmeal/api/index.mdx
  content/docs/contributor/zotmeal/api/meta.json
  content/docs/contributor/zotmeal/api/serverless.mdx
  content/docs/contributor/zotmeal/api/trpc.mdx
  content/docs/contributor/zotmeal/getting-started.md
  content/docs/contributor/zotmeal/getting-started.mdx
  content/docs/contributor/zotmeal/index.md
  content/docs/contributor/zotmeal/meta.json
  content/docs/contributor/zotmeal/ui.mdx
  content/docs/contributor/zotmeal/zotmeal-screenshot.jpg
Owners: @icssc/zotmeal

chore(docs): 🔧 📚️ zotmeal -> PeterPlate
  content/docs/contributor/index.mdx
  content/docs/contributor/zotmeal/api/index.mdx
  content/docs/contributor/zotmeal/api/serverless.mdx
  content/docs/contributor/zotmeal/getting-started.mdx
  content/docs/contributor/zotmeal/index.md
  content/docs/contributor/zotmeal/meta.json
  content/docs/contributor/zotmeal/ui.mdx
Owners: @icssc/zotmeal
