Repository icssc/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @icssc/antalmanac, @alexanderl19, @ecxyzzy, @icssc/peterportal, @icssc/api, @icssc/zotistics, @icssc/zotmeal, @icssc/zotmeet, @icssc/zotnfound, @icssc/special-projects

.github/CODEOWNERS:

pages/antalmanac @icssc/antalmanac
pages/guidebook @alexanderl19 @ecxyzzy
pages/peterportal @icssc/peterportal
pages/ppapi @icssc/api
pages/zotistics @icssc/zotistics
pages/zotmeal @icssc/zotmeal
pages/zotmeet @icssc/zotmeet
pages/zotnfound @icssc/zotnfound
pages/special-projects @icssc/special-projects

docs: 📚️ add getting started mdx for peterportal
  pages/peterportal/getting-started.md
  pages/peterportal/getting-started.mdx
  pages/peterportal/index.md
Owners: @icssc/peterportal

fix: 🐛 replace missing corporate dashboard docs
  pages/_meta.json
  pages/special-projects/_meta.json
  pages/special-projects/corporate-dashboard/_meta.json
  pages/special-projects/corporate-dashboard/getting-started.mdx
  pages/special-projects/corporate-dashboard/index.md
Owners: @icssc/special-projects

fix: 🐛 replace missing corporate dashboard docs (#9)
  pages/_meta.json
  pages/special-projects/_meta.json
  pages/special-projects/corporate-dashboard/_meta.json
  pages/special-projects/corporate-dashboard/getting-started.mdx
  pages/special-projects/corporate-dashboard/index.md
Owners: @icssc/special-projects

docs: 📚️ zotistics getting started
  pages/zotistics/getting-started.md
  pages/zotistics/getting-started.mdx
Owners: @icssc/zotistics

Add sub-sections
  pages/antalmanac/index.md
Owners: @icssc/antalmanac

docs: 📚️ use code blocks for commands
  pages/peterportal/getting-started.mdx
Owners: @icssc/peterportal

Update syntax highlighting branch name
  pages/peterportal/getting-started.mdx
Owners: @icssc/peterportal

feat: ✨ added getting-started.mdx details
  pages/zotmeet/_meta.json
  pages/zotmeet/api/_meta.json
  pages/zotmeet/getting-started.md
  pages/zotmeet/getting-started.mdx
  pages/zotmeet/index.mdx
Owners: @icssc/zotmeet

refactor: ♻️ added some enhancements to getting-started.mdx
  pages/zotmeet/getting-started.mdx
  pages/zotmeet/index.mdx
Owners: @icssc/zotmeet

feat: ✨ set up api structure
  pages/zotmeet/api/_meta.json
  pages/zotmeet/api/availability/_meta.json
  pages/zotmeet/api/availability/get_shared_availability.mdx
  pages/zotmeet/api/availability/index.mdx
  pages/zotmeet/api/group/_meta.json
  pages/zotmeet/api/group/index.mdx
  pages/zotmeet/api/index.mdx
  pages/zotmeet/api/meeting/_meta.json
  pages/zotmeet/api/meeting/index.mdx
  pages/zotmeet/api/user/_meta.json
  pages/zotmeet/api/user/get_user.mdx
  pages/zotmeet/api/user/index.mdx
Owners: @icssc/zotmeet

feat: ✨ set up sample api template
  pages/zotmeet/api/_meta.json
  pages/zotmeet/api/availability/get_shared_availability.mdx
  pages/zotmeet/api/example.mdx
Owners: @icssc/zotmeet

feat: ✨ implemented user spec for api
  pages/zotmeet/api/example.mdx
  pages/zotmeet/api/user/get_user.mdx
Owners: @icssc/zotmeet

refactor: ♻️ minor directory restructure
  pages/zotmeet/api/_meta.json
  pages/zotmeet/api/availability.mdx
  pages/zotmeet/api/availability/_meta.json
  pages/zotmeet/api/availability/get_shared_availability.mdx
  pages/zotmeet/api/availability/index.mdx
  pages/zotmeet/api/group.mdx
  pages/zotmeet/api/group/_meta.json
  pages/zotmeet/api/group/index.mdx
  pages/zotmeet/api/index.mdx
  pages/zotmeet/api/meeting.mdx
  pages/zotmeet/api/meeting/_meta.json
  pages/zotmeet/api/meeting/index.mdx
  pages/zotmeet/api/user.mdx
  pages/zotmeet/api/user/_meta.json
  pages/zotmeet/api/user/index.mdx
Owners: @icssc/zotmeet

feat: ✨ set up all /users api route definitions
  pages/zotmeet/api/_meta.json
  pages/zotmeet/api/availability.mdx
  pages/zotmeet/api/example.mdx
  pages/zotmeet/api/index.mdx
  pages/zotmeet/api/user.mdx
Owners: @icssc/zotmeet

feat: ✨ added meeting specifications
  pages/zotmeet/api/_meta.json
  pages/zotmeet/api/example.mdx
  pages/zotmeet/api/index.mdx
  pages/zotmeet/api/meeting.mdx
  pages/zotmeet/api/user.mdx
Owners: @icssc/zotmeet

feat: ✨ added groups spec for API
  pages/zotmeet/api/group.mdx
  pages/zotmeet/api/index.mdx
  pages/zotmeet/api/meeting.mdx
  pages/zotmeet/api/user.mdx
Owners: @icssc/zotmeet

docs(getting-started): 📚️ fix codeblock spacing
  pages/peterportal/getting-started.mdx
Owners: @icssc/peterportal

PeterPortal Getting Started (#8)
  pages/peterportal/getting-started.md
  pages/peterportal/getting-started.mdx
  pages/peterportal/index.md
Owners: @icssc/peterportal

Zotistics Getting Started (#10)
  pages/zotistics/getting-started.md
  pages/zotistics/getting-started.mdx
Owners: @icssc/zotistics

docs: 📚️ wip database docs
  pages/guidebook/_meta.json
  pages/guidebook/infrastructure/_meta.json
  pages/guidebook/infrastructure/guides/_meta.json
  pages/guidebook/infrastructure/guides/provisioning-dev-database.mdx
  pages/guidebook/infrastructure/guides/provisioning-pg-database.mdx
  pages/guidebook/infrastructure/reference/_meta.json
  pages/guidebook/infrastructure/reference/rds-postgres.md
Owners: @alexanderl19, @ecxyzzy

docs: 📚️ centralized calendar stubs
  pages/_meta.json
  pages/special-projects/_meta.json
  pages/special-projects/centralized-calendar/_meta.json
  pages/special-projects/centralized-calendar/api-reference.mdx
  pages/special-projects/centralized-calendar/architecture.mdx
  pages/special-projects/centralized-calendar/end-user.mdx
  pages/special-projects/centralized-calendar/getting-started.mdx
  pages/special-projects/centralized-calendar/index.md
Owners: @icssc/special-projects

docs: 📚️ add end-user and getting-started guide
  pages/special-projects/centralized-calendar/end-user.mdx
  pages/special-projects/centralized-calendar/getting-started.mdx
  pages/special-projects/centralized-calendar/index.md
Owners: @icssc/special-projects

feat: ✨ rename ppapi to anteaterapi
  next.config.mjs
  pages/_meta.json
  pages/anteaterapi/_meta.json
  pages/anteaterapi/contributor/_meta.json
  pages/anteaterapi/contributor/application-architecture/_meta.json
  pages/anteaterapi/contributor/application-architecture/index.md
  pages/anteaterapi/contributor/application-architecture/tools.md
  pages/anteaterapi/contributor/getting-started-contributor.md
  pages/anteaterapi/developer/_meta.json
  pages/anteaterapi/developer/api-versioning.md
  pages/anteaterapi/developer/fair-use-policy.md
  pages/anteaterapi/developer/getting-started-developer.md
  pages/anteaterapi/developer/graphql-api.md
  pages/anteaterapi/developer/rest-api/_meta.json
  pages/anteaterapi/developer/rest-api/guides/_meta.json
  pages/anteaterapi/developer/rest-api/guides/typescript-integration.md
  pages/anteaterapi/developer/rest-api/overview.md
  pages/anteaterapi/developer/rest-api/reference/_meta.json
  pages/anteaterapi/developer/rest-api/reference/calendar.mdx
  pages/anteaterapi/developer/rest-api/reference/courses.mdx
  pages/anteaterapi/developer/rest-api/reference/enrollment-history.mdx
  pages/anteaterapi/developer/rest-api/reference/grades.mdx
  pages/anteaterapi/developer/rest-api/reference/instructors.mdx
  pages/anteaterapi/developer/rest-api/reference/larc.mdx
  pages/anteaterapi/developer/rest-api/reference/websoc.mdx
  pages/anteaterapi/developer/rest-api/reference/week.mdx
  pages/anteaterapi/developer/sandbox.mdx
  pages/anteaterapi/developer/sandbox.module.css
  pages/anteaterapi/index.mdx
Owners: none

feat: ✨ migrate legacy pp api docs
  pages/_meta.json
  pages/ppapi-legacy/_meta.json
  pages/ppapi-legacy/contributing/_meta.json
  pages/ppapi-legacy/contributing/documenting.mdx
  pages/ppapi-legacy/contributing/how-to-contribute.mdx
  pages/ppapi-legacy/contributing/start-here.mdx
  pages/ppapi-legacy/getting-started.mdx
  pages/ppapi-legacy/graphql-api/_meta.json
  pages/ppapi-legacy/graphql-api/learn-more.mdx
  pages/ppapi-legacy/graphql-api/playground.mdx
  pages/ppapi-legacy/graphql-api/start-here.mdx
  pages/ppapi-legacy/images/peter_favicon.png
  pages/ppapi-legacy/images/peter_favicon.svg
  pages/ppapi-legacy/images/peterportal-banner-logo.png
  pages/ppapi-legacy/index.mdx
  pages/ppapi-legacy/rest-api/_meta.json
  pages/ppapi-legacy/rest-api/courses.mdx
  pages/ppapi-legacy/rest-api/grades.mdx
  pages/ppapi-legacy/rest-api/instructors.mdx
  pages/ppapi-legacy/rest-api/schedule.mdx
  pages/ppapi-legacy/rest-api/start-here.mdx
Owners: none

fix: 🐛 match urls to old docs
  pages/ppapi-legacy/Introduction/Getting-Started.mdx
  pages/ppapi-legacy/Introduction/_meta.json
  pages/ppapi-legacy/_meta.json
  pages/ppapi-legacy/contributing/_meta.json
  pages/ppapi-legacy/contributing/how_to_contribute.mdx
  pages/ppapi-legacy/contributing/start_here.mdx
  pages/ppapi-legacy/graphql-api/_meta.json
  pages/ppapi-legacy/graphql-api/learn_more.mdx
  pages/ppapi-legacy/graphql-api/start_here.mdx
  pages/ppapi-legacy/rest-api/_meta.json
  pages/ppapi-legacy/rest-api/start_here.mdx
Owners: none

fix: folder capitalization
  pages/ppapi-legacy/Contributing/_meta.json
  pages/ppapi-legacy/Contributing/documenting.mdx
  pages/ppapi-legacy/Contributing/how_to_contribute.mdx
  pages/ppapi-legacy/Contributing/start_here.mdx
  pages/ppapi-legacy/GraphQL-API/_meta.json
  pages/ppapi-legacy/GraphQL-API/learn_more.mdx
  pages/ppapi-legacy/GraphQL-API/playground.mdx
  pages/ppapi-legacy/GraphQL-API/start_here.mdx
  pages/ppapi-legacy/REST-API/_meta.json
  pages/ppapi-legacy/REST-API/courses.mdx
  pages/ppapi-legacy/REST-API/grades.mdx
  pages/ppapi-legacy/REST-API/instructors.mdx
  pages/ppapi-legacy/REST-API/schedule.mdx
  pages/ppapi-legacy/REST-API/start_here.mdx
Owners: none

fix: folder capitalization
  pages/ppapi-legacy/contributing/_meta.json
  pages/ppapi-legacy/contributing/documenting.mdx
  pages/ppapi-legacy/contributing/how_to_contribute.mdx
  pages/ppapi-legacy/contributing/start_here.mdx
  pages/ppapi-legacy/graphql-api/_meta.json
  pages/ppapi-legacy/graphql-api/learn_more.mdx
  pages/ppapi-legacy/graphql-api/playground.mdx
  pages/ppapi-legacy/graphql-api/start_here.mdx
  pages/ppapi-legacy/rest-api/_meta.json
  pages/ppapi-legacy/rest-api/courses.mdx
  pages/ppapi-legacy/rest-api/grades.mdx
  pages/ppapi-legacy/rest-api/instructors.mdx
  pages/ppapi-legacy/rest-api/schedule.mdx
  pages/ppapi-legacy/rest-api/start_here.mdx
Owners: none

fix: 🐛 temp homepage link
  app/(home)/page.tsx
Owners: none

build: 📦️ update pnpm
  .github/workflows/deploy-prod.yml
Owners: none

feat: ✨ update homepage
  app/(home)/page.tsx
Owners: none

feat: ✨ centralized calendar external docs
  content/docs/developer/centralized-calendar/ics-club-guide.mdx
  content/docs/developer/centralized-calendar/index.md
  content/docs/developer/centralized-calendar/meta.json
  content/docs/developer/meta.json
Owners: none
